/* Table rows */
tr {
  text-align: center;
  background-color: #ebe5da;
}

/* Table data */
td {
  border: 0.1em solid #373636;
  border-radius: 0.2em;
  font-family: "Coustard", serif;
  padding: 0.5em;
  text-align: center;
}

.coin-name {
  text-align: start;
}

/* Large Monitors */
/* @media (min-device-width: 1025px) {
} */

/* Tablets, iPads, and Kindles */
@media (max-device-width: 1024px) and (min-device-width: 415px) {
  td {
    padding: 0.3em;
  }
}

/* Mobile Devices */
@media (max-device-width: 414px) and (min-device-width: 320px) {
  td {
    padding: 0em;
  }

  .coin-rank {
    display: none;
  }

  .coin-icon-ico {
    height: 0.9em;
    width: 0.9em;
  }

  .coin-sparklines {
    height: 0.6em;
    width: 0.6em;
  }

  .coin-change-1h {
    display: none;
  }

  .coin-change-24h {
    display: none;
  }

  .coin-change-7d {
    display: none;
  }
}
