.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

@font-face {
  font-family: Bosk;
  src: local("Bosk.ttf") format("true-type");
}
.App-header {
  background-color: #553900;
  background-image: url("banner.jpg");
  background-position: top;
  height: 150px;
  padding: 20px;
  border: 0.2em double black;
}

.App-title {
  color: white;
  text-shadow: 0.1em 0.1em 0.1em black;
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

/*  */
/* Table element */
table {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-color: #ffe3aa;
  border: 0.2em double black;
}

/* Table header */
th {
  border-radius: 0.2em;
  padding: 0.5em;
  background-color: #d4b16a;
  border: 0.1em solid black;
  color: white;
  text-shadow: 0.1em 0.1em 0.1em black;
}

/* Table rows */
tr {
  text-align: center;
  background-color: #ebe5da;
}

/* Table data */
td {
  border: 0.1em solid black;
  border-radius: 0.2em;
  padding: 0.5em;
  text-align: center;
}
