.App {
  text-align: center;
  background-color: #ffe3aa;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

/* @font-face {
  font-family: Bosk;
  src: local("Bosk.ttf") format("true-type");
} */
.App-header {
  background-color: #553900;
  background-image: url("banner.jpg");
  background-position: top;
  height: 150px;
  padding: 20px;
  border: 0.2em double black;
}

.App-title {
  color: black;
  font-family: "Alfa Slab One", cursive;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

/*  */

.body {
  border: 0.2em double black;
}

/* Table element */
.coin-table {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1em 0em 1em 0;
}

/* Table header */
th {
  background-color: #d4b16a;
  border: 0.1em solid black;
  border-radius: 0.3em;
  color: white;
  padding: 1em;
  text-shadow: 0.1em 0.1em 0.1em black;
}

/* Table rows */
tr {
  text-align: center;
  background-color: #ebe5da;
}

/* Table data */
td {
  border: 0.1em solid black;
  border-radius: 0.2em;
  font-family: "Coustard", serif;
  padding: 0.5em;
  text-align: center;
}

.coin-name {
  text-align: start;
}

a {
  text-decoration: none;
}

#dev-footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: black;
  color: #ebe5da;
  cursor: pointer;
  font-size: 0.8em;
}

/* Large Monitors */
/* @media (min-device-width: 1025px) {
} */

/* Tablets, iPads, and Kindles */
@media (max-device-width: 1024px) and (min-device-width: 415px) {
  th {
    padding: 0.45em;
  }

  td {
    padding: 0.45em;
  }
}

/* Mobile Devices */
@media (max-device-width: 414px) and (min-device-width: 320px) {
  .App-title {
    font-size: 1.4em;
  }

  th {
    padding: 0em;
  }

  td {
    padding: 0em;
  }

  .coin-rank-header {
    display: none;
  }

  .coin-rank {
    display: none;
  }

  .coin-icon-ico {
    height: 0.8em;
    width: 0.8em;
  }

  .coin-change-1h-header {
    display: none;
  }

  .coin-change-1h {
    display: none;
  }

  /* .coin-change-24h-header {
    display: none;
  }

  .coin-change-24h {
    display: none;
  } */

  .coin-change-7d-header {
    display: none;
  }

  .coin-change-7d {
    display: none;
  }
}
